@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*------------------------------------*\
#SETTINGS
\*------------------------------------*/
$black: #181918;
$orange: #fe5100;
$white: #fefffe;
$green: #4ab93a;

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*------------------------------------*\
#ELEMENTS
\*------------------------------------*/
p {
  font-family: "Open Sans", sans-serif;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/
