@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*------------------------------------*\
#SETTINGS
\*------------------------------------*/
/*------------------------------------*\
#GENERIC
\*------------------------------------*/
/*------------------------------------*\
#ELEMENTS
\*------------------------------------*/
p {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: #fefffe;
}

h2,
h3,
h5 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #fefffe;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/
/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
.c-bg {
  background-color: #181918 !important;
}

.c-logo {
  width: 15%;
  margin: auto;
  margin-top: 1rem;
}

.c-nav {
  background-color: #fefffe !important;
  margin-top: 1.5rem;
}

.c-header {
  padding: 0 !important;
}

.c-button {
  background-color: #fe5100 !important;
  color: #fefffe;
}
.c-button :hover {
  color: #fe5100;
}

.c-info {
  color: #fefffe;
}

.c-border {
  border: solid;
  border-color: #fe5100;
}

.st0 {
  fill: url(#path3718_00000158746532181345568620000017460993263505709475_);
}

.st1 {
  fill: url(#path3705_00000000190138043615007860000003280690679409974932_);
}

.st2 {
  fill: url(#polygon3731_00000149346671607422875440000002184019167949194669_);
}

.st3 {
  fill: url(#polygon3744_00000160889995679357065530000012520287249279098000_);
}

.st4 {
  fill: url(#polygon3757_00000098931927085315551470000012239014208750180505_);
}

.st5 {
  fill: url(#polygon3770_00000124124418730348388450000011659523110477384895_);
}

.st6 {
  fill: url(#path3783_00000073002650317458869420000008841870882309260961_);
}

.st7 {
  fill: url(#path3796_00000124855643388631851540000012049387986513500040_);
}

.st8 {
  fill: url(#rect3809_00000174594476124819752150000002659588769562438808_);
}

.st9 {
  fill: url(#path3822_00000150091813238868229860000013648371365616142215_);
}

.st10 {
  fill: #ffffff;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  display: none;
}

/*------------------------------------*\
#BOOTSTRAP
\*------------------------------------*/
.accordion-item {
  font-family: "Open Sans", sans-serif;
  color: #fe5100 !important;
}
.accordion-body {
  border: solid;
  border-width: 1px;
  border-color: #fe5100 !important;
}
.accordion-header button {
  font-weight: 700;
}
.accordion-button {
  color: #fe5100 !important;
  background: none;
  border: solid;
  border-width: 1px;
  border-color: #fe5100;
}
.accordion-button::after {
  filter: invert(51%) sepia(95%) saturate(3005%) hue-rotate(352deg) brightness(95%) contrast(112%);
}
.accordion-button:focus {
  color: #fe5100;
  background: none !important;
  border: solid;
  border-width: 1px;
  border-color: #fe5100;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  background: none;
  color: #fe5100 !important;
}

.carousel-indicators button {
  height: 1rem !important;
  width: 1rem !important;
  border-radius: 50%;
  background-color: #fe5100 !important;
}
.carousel-indicators button:not(.active) {
  filter: grayscale(100%);
}

.btn-outline-danger {
  border-color: transparent !important;
  color: #fe5100 !important;
}
.btn-outline-danger:hover {
  color: #fefffe !important;
  background-color: #fe5100 !important;
}

.c-footer-tekst {
  color: #fe5100 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fe5100 !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #4ab93a !important;
}