@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*------------------------------------*\
#SETTINGS
\*------------------------------------*/
/*------------------------------------*\
#GENERIC
\*------------------------------------*/
/*------------------------------------*\
#ELEMENTS
\*------------------------------------*/
p {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: #fefffe;
}

h2,
h3 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #fefffe;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/
/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
.c-bg {
  background-color: #181918 !important;
}

.c-logo {
  width: 15%;
  margin: auto;
  margin-top: 1rem;
}

.c-nav {
  background-color: #fefffe !important;
  margin-top: 1.5rem;
}
.c-nav__tekst {
  color: #fe5100 !important;
}

.c-header {
  padding: 0 !important;
}

.c-button {
  background-color: #fe5100 !important;
  color: #fefffe;
}
.c-button :hover {
  color: #fe5100;
}

.c-info {
  color: #fefffe;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  display: none;
}

/*------------------------------------*\
#BOOTSTRAP
\*------------------------------------*/
.accordion-item {
  font-family: "Open Sans", sans-serif;
  color: #fe5100 !important;
}
.accordion-body {
  border: solid;
  border-width: 1px;
  border-color: #fe5100 !important;
}
.accordion-header button {
  font-weight: 700;
}
.accordion-button {
  color: #fe5100 !important;
  background: none;
  border: solid;
  border-width: 1px;
  border-color: #fe5100;
}
.accordion-button::after {
  filter: invert(51%) sepia(95%) saturate(3005%) hue-rotate(352deg) brightness(95%) contrast(112%);
}
.accordion-button:focus {
  color: #fe5100;
  background: none !important;
  border: solid;
  border-width: 1px;
  border-color: #fe5100;
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  background: none;
  color: #fe5100 !important;
}