@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*------------------------------------*\
#SETTINGS
\*------------------------------------*/
$black: #181918;
$orange: #fe5100;
$white: #fefffe;
$green: #4ab93a;

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*------------------------------------*\
#ELEMENTS
\*------------------------------------*/
p {
  font-family: "Open Sans", sans-serif;
  color: $white;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: $white;
}

h3 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: $white;
}
/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
.c-bg {
  background-color: $black !important;
}

.c-logo {
  width: 15%;
  margin: auto;
  margin-top: 1rem;
}

.c-nav {
  background-color: $white !important;
  margin-top: 1.5rem;
}


.c-header {
  padding: 0 !important;
}
/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*------------------------------------*\
#BOOTSTRAP
\*------------------------------------*/
